*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.stickers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.stickers img{
    width: 100px;
    height: 100px;
    
}

.sticker1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sticker2{
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sticker3{
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


